<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PossuMerch</title>
    <style>
        table {
            width: 100%;
            height: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        td {
            vertical-align: middle;
        }

    #container {
        width: 40%;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        position: relative; /* Imposta la posizione relativa */
        border: 10px solid black;
        background-color: black;
    }

        .pics {
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 1s ease-in-out; /* Utilizziamo transform per animare lo spostamento */
        }

        body, html {
            height: 100%;
            margin: 0;
            background-color: #f2f2f2;
        }

        #home {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        hr {
            border: 2px solid black;
            margin-top: 20px;
        }

        .bs {
            max-width: 100%;
            height: auto;
        }

        .card {
            border: 4px solid #000000; /* Aumento dello spessore del bordo a 4px */
            border-radius: 15px; /* Angoli arrotondati */
            padding: 15px; /* Aggiunta di padding per rendere il bordo uniforme */
        }
    </style>
    <script>
        var immagini = ['/img/adv1.png', '/img/adv2.jpg'];
        var index = 0;
        var intervallo = 5000; //intervallo in millisecondi

        function cambiaImmagine() {
            var immagine = document.getElementById('immagine');
            immagine.style.transform = 'translateX(-100%)'; // Sposta l'immagine verso sinistra

            setTimeout(function() {
                index = (index + 1) % immagini.length;
                immagine.src = immagini[index];
                immagine.style.transform = 'translateX(0)'; // Riporta l'immagine al suo posto originale
            }, 1000);
        }
        setInterval(cambiaImmagine, intervallo);
    </script>
</head>
<body>
    <main>
        <table>
            <tr>
                <td id="home">
                    <hr>
                    <img src="/img/black_logo.png" style="max-width: 300px; height: auto;" alt="Logo">
                </td>
            </tr>
            <hr>
            <tr>
                <td id="home">
                    <img src="/img/symmetric_possum_sx.png" width="300" height="300" style="margin-right: 700px; position:absolute">
                    <div id="container">
                        <img src="/img/adv1.png" id="immagine" class="pics" alt="Immagine pubblicitaria">
                    </div>
                    <img src="/img/symmetric_possum_dx.png" width="300" height="300" style="margin-left: 700px; position:absolute">
                </td>
            </tr>
        </table>
        <hr>
        <h2 style="text-align: center;">OUR PRODUCTS:</h2>
        <hr>
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align: center;">
                    <a asp-controller="Products" asp-action="Purchase_Chitarre">
                        <img src="/img/guitars_logo.png" style="max-width: 300px; height: auto;" alt="Immagine 1">
                    </a>
                </td>
                <td style="text-align: center;">
                    <a asp-controller="Products" asp-action="Purchase_Bassi">
                        <img src="/img/basses_logo.png" style="max-width: 300px; height: auto;" alt="Immagine 2">
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <div class="container">
            <h2 class="text-center">BEST-SELLERS:</h2>
            <br>
            <h3 class="text-center">guitars</h3>
            <br>
            <div class="row mt-4">
                <div class="col-md-4">
                    <a asp-controller="Products" asp-action="Purchase_Chitarre">
                        <div class="card">
                            <img src="img/guitars/img1.png" class="card-img-top" alt="img1">
                            <div class="card-body text-center">
                                <p class="card-text">FENDER AM Ultra Stratocaster MN Cobra Blue</p>
                                <p><small>2399.0€</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Products" asp-action="Purchase_Chitarre">
                        <div class="card">
                            <img src="img/guitars/img2.png" class="card-img-top" alt="img2">
                            <div class="card-body text-center">
                                <p class="card-text">EPIPHONE Billie Joe Armstrong Les Paul Junior Classic White</p>
                                <p><small>535.0€</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Products" asp-action="Purchase_Chitarre">
                        <div class="card">
                            <img src="img/guitars/img3.png" class="card-img-top" alt="img3">
                            <div class="card-body text-center">
                                <p class="card-text">TAYLOR 214ce Koa</p>
                                <p><small>1149.0€</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <h3 class="text-center">basses</h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <a asp-controller="Products" asp-action="Purchase_Bassi">
                    <div class="card">
                        <img src="img/basses/img1.png" class="card-img-top" alt="img1">
                        <div class="card-body text-center">
                            <p class="card-text">Fender AM Ultra Jazz RW Ultraburst</p>
                            <p><small>2399.0€</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Products" asp-action="Purchase_Bassi">
                    <div class="card">
                        <img src="img/basses/img2.png" class="card-img-top" alt="img2">
                        <div class="card-body text-center">
                            <p class="card-text">Ibanez SR305E Cerulean Aura Burst</p>
                            <p><small>409.0€</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Products" asp-action="Purchase_Bassi">
                    <div class="card">
                        <img src="img/basses/img3.png" class="card-img-top" alt="img3">
                        <div class="card-body text-center">
                            <p class="card-text">Yamaha TRBX604FM Black</p>
                            <p><small>769.0€</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </main>
</body>
</html>
