
@{
ViewData["Title"] = "Privacy Policy";
}
<img src="/img/legalNotices_logo.png" style="display: block; margin: 0 auto; max-width: 300px; height: auto;" alt="Logo">

<div class="w-75 mx-auto card p-3 transparent-form" style="color: black; font-size: 18px;">
    <p><b>Information Collected:</b>
    We collect personal information voluntarily provided during registration, product purchases, or filling out forms on our website. This information may include your name, email address, shipping address, payment information, and personal preferences.
    <br>
    <b>Use of Information:</b>
    We use the collected information to process orders, provide customer support, enhance your shopping experience, and communicate with you regarding your orders and our special offers. We will not share your personal information with third parties outside of what is necessary to process your orders and provide our services.
    <br>
    <b>Information Protection:</b>
    We are committed to protecting the personal information of our customers and adopting appropriate security measures to safeguard them from unauthorized access, alterations, or disclosures. We use industry-standard security protocols during the transmission and receipt of sensitive data.
    <br>
    <b>Cookies:</b>
    We use cookies to enhance your experience on our website. Cookies are small data files stored on your device that help us recognize you when you return to our site. You can manage your cookie preferences through your browser settings.
    <br>
    <b>Changes to Privacy Policy:</b>
    We reserve the right to modify this privacy policy periodically. We recommend reviewing this page regularly to stay informed about any updates.
    <br>
    <b>Contact:</b>
    @{
    string email = "staff@possumerch.com";
    }
    If you have any questions or concerns regarding our privacy policy or the handling of your personal information, please feel free to contact us at @email.
    <br>
    <b>Last Updated:</b> 03/04/2024</p>
</div>
<img src="/img/cookies.png" width="300" height="300" alt="Cookies" style="display: block; margin: 0 auto;">
